<style>
    .centered-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
</style>

<MudPaper Height="90vh" Width="100%">
    <div class="centered-container">
        <MudProgressCircular Color="MudBlazor.Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
    </div>
</MudPaper>