<MudDialog>
    <DialogContent>
        <p>Are you sure you want to delete your account?</p>
        <p>
            By deleting your account, all of your historical and personal data will be permanently removed.
            There is no way of retrieving the data after deletion.
        </p>
    </DialogContent>
    <DialogActions>
        <MudButton Color="MudBlazor.Color.Success" OnClick="Back">Back</MudButton>
        <MudButton Color="MudBlazor.Color.Warning" OnClick="DeleteAccount">DELETE</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    private void DeleteAccount()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    private void Back()
    {
        MudDialog.Close(DialogResult.Ok(false));
    }
}